{% macro recursiveCrawl(category) %}
    {% import _self as self %}
    {% if category.parentCategory|length %}
        {% if category.parentCategory is not empty %}
            {% for parentCategory in category.parentCategory %}
                {{ self.recursiveCrawl(parentCategory) }}
                {{ parentCategory.title }} <span class="icon icon-chevron-thin-right"></span>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% from _self import recursiveCrawl %}