{% import 'LankerdGroundworkBundle:macros:generateMenu.html.twig' as foo %}
{% extends "@LankerdGroundwork/nav.html.twig" %}
{# In the near future, documentation and a templating engine will be develped to ease the use of this particular bundle #}
{% block menuItems %}
    <div class="navbar-header">
        <a href="{{ path("dashboard") }}">
            CoreEngine
        </a>
    </div>
    <h1>If you are seeing this, that means you haven't successfully setup an override for this view file! Override this view file!</h1>
{% endblock %}