{% extends 'LankerdGroundworkBundle:Dashboard:dash-layout.html.twig' %}
{% import 'LankerdGroundworkBundle:macros:generateMenu.html.twig' as foo %}
{% block menuItems %}
    <ul class="nav navbar-nav navbar-top navbar-right">
        {{ foo.menuItem("Logout", path('logout')) }}
    </ul>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>{{ foo.menuItem("User Listing", path('user.index'), ['user.index']) }}</li>
                </ul>
            </li>
        </ul>
    {% elseif is_granted("ROLE_USER") %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Available Content<span class="caret"></span></a>
                <ul class="dropdown-menu">

                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="admin-wrapper">
        <div class="container list-wrapper p-t-md p-b-md">
            <h1>Welcome {{ app.user.username }}!</h1>
        </div>
    </div>
{% endblock %}