{% block content %}
    <div class="admin-wrapper">
        <div class="container list-wrapper p-t-md p-b-md">
            <h1 class="m-b-md">CoreEngine Dashboard!</h1>
        </div>
    </div>
{% endblock %}
