{% extends "DashBundle:Dashboard:dash-layout.html.twig" %}

{% block content %}

    {# This will be where our properties will be listed #}
    {% if entityData is iterable %}
        {% set entityProperties = entityData[0].properties %}
    {% else %}
        {% set entityProperties = entityData.properties %}
    {% endif %}
    <div class="container m-t-md m-b-md">
        <div class="panel">
            <div class="panel-body">
                <div class="table-full">
                    <div class="table-responsive">
                        <table class="table table-responsive table-condensed">
                            <thead>
                            <tr>
                                {% for tableHeader in entityProperties %}
                                    {% if tableHeader != 'id' %}
                                        <th class="header small">{{ tableHeader|humanize }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for singleRecord in entityData %}
                                    {% for tableHeader in entityProperties %}
                                        {% if tableHeader != 'id' %}
                                            {% if singleRecord.getValueForKey(tableHeader)|instanceOf('DateTime') %}
                                                <td>{{ singleRecord.getValueForKey(tableHeader)|date }}</td>
                                            {% else %}
                                                <td>{{ singleRecord.getValueForKey(tableHeader) }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
